@use "base/reset.scss";
@use "base/container.scss";
@use "layout/header.scss";
@use "layout/easy.scss";
@use "layout/mobile-app.scss";
@use "layout/project.scss";
@use "layout/standart.scss";
@use "layout/video.scss";
@use "layout/work.scss";
@use "layout/mailing.scss";
@use "layout/footer.scss";
