.footer {
  padding-top: 70px;
  background-color: #f6f6f8;
  .footer-list {
    padding-bottom: 30px;
    border-bottom: #e0e0e0 solid 1px;
    display: flex; justify-content:space-around;
  }
  .footer-item {
    width: 245px;
    display: flex; flex-direction: column;
    gap: 30px;
  }
  .footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 5px;
  }
  .footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0%;
    color: #999999;
  }
  .footer-icon {
    margin-right: 15px;
  }
  .footer-copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 158%;
    letter-spacing: 0%;
    text-align: center;
    color: #999999;
    padding: 30px 0;
  }
}
