.footer {
  .footer-list {
    border-bottom: #e0e0e0 solid 1px;
  }
  .footer-item {
  }
  .footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
  }
  .footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0%;
    color: #999999;
  }
  .footer-icon {
  }
  .footer-copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 158%;
    letter-spacing: 0%;
    text-align: center;
    color: #999999;
    padding: 30px 0;
  }
}
