@use "../utils/placeholder.scss";

.mobile-app {
  color: #999999;
  .mobile-app-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    text-align: center;
    color: #323232;
    margin-bottom: 32px;
    width: 739px;
    margin: 0 auto;
  }
  .mobile-app-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    width: 739px;
        margin: 0 auto;
        margin-bottom: 70px;
  }
  .mobile-app-list {
       display: flex;
       margin-bottom: 55px;
       gap: 27px;
       
  }
  .mobile-app-item {
    display: flex;
        align-items: flex-end;
  }
  .mobile-app-icon {
    fill: #4985ff;
  }
  .mobile-app-item-title {
    color: #000000;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
      margin-bottom: 12px;
  }
  .mobile-app-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0%;
  
  }
  .wrap-icon{
border: 1px solid #4985FF;
border-radius: 50%;
padding: 25px;
outline: 1px solid #e0e0e0;
margin: 10px;
outline-offset: 10px;
margin-right: 17px;
    margin-bottom: 42px;

  }
  .wrap-content{

  }
  .mobile-app-button {
    @extend %button;
  }

}
