.standart {
  background-color: #F6F6F8;
  padding-top: 152px;
  padding-bottom: 70px;

  .standart-wrap {
    display: flex;
    margin-bottom: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    border-bottom: 1px solid#E0E0E0;
  }

  .standart-wrap-text {
    width: 489px;

  }

  .standart-title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color: #323232;
  }

  .standart-text {
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #999999;
  }

  .standart-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #4985ff;
  }

  .standart-title-image {
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
  }

  // .wrap-img{

  // }

  .standart-ul {
    display: flex;
    justify-content: center;
    gap:100px;

  }

  .standart-item {}

  .standart-icon {
    fill: #4985ff;
  }

  .standart-item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    color: #000000;
  }

  .standart-item-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #999999;
  }
}