.standart {
  .standart-wrap {
  }
  .standart-wrap-text {
  }
  .standart-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color: #323232;
  }
  .standart-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #999999;
  }
  .standart-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #4985ff;
  }
  .standart-title-image {
  }
  .standart-ul {
  }
  .standart-item {
  }
  .standart-icon {
    fill: #4985ff;
  }
  .standart-item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    color: #000000;
  }
  .standart-item-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #999999;
  }
}
