@use "../utils/placeholder.scss";

.video {

    .video-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 146%;
        color:#FFF;
    }

    .video-text {

    }

 

  

}