%button {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  padding: 14px 36px;
  border-radius: 30px;
  background-color: #4985ff;
  border: none;

  display: flex;
  margin: 0 auto;
}
